* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background: linear-gradient(120deg, #00ffff, #00bfff);
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 200px;
  width: 550px;

  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background: transparent;
}

.relogio div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 170px;
  width: 150px;

  color: #fff;
  letter-spacing: 3px;

  border-radius: 7px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  background: rgba(5, 5, 5, 0.9);
}

.relogio span {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(120deg, #d9d9d9, #c0c0c0);
}

.relogio span {
  font-weight: bolder;
  font-size: 60px;
}

.relogio span.tempo {
  font-size: 11px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(120deg, #d9d9d9, #c0c0c0);
}
